//? Fonts
$titleFont: "Abril Fatface", cursive;
$secondaryFont: "Lato", sans-serif;
$getStartedFont: Verdana, sans-serif;

//? Project colors
$dark: hsl(0, 0%, 13%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$orange: hsl(38, 100%, 50%);

//? Screen sizes
$phoneXS: 360px;
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
$desktopXXL: 1920px;

//? shadows
$boxShadow: 0.2rem 0.2rem 0.1rem #ddd inset;
$textShadow: 0.2rem 0.2rem 0.1rem #666;
